<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Please sign in</title>
</head>

<body>
    {% if message %}
    <p style="color:red">{{message}}</p>
    {% endif %}
    <form action="/signup" method="post">
        <legend>Please sign up:</legend>
        <p><input type="text" name="username" placeholder="Username" value="{{username}}"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="password" name="m_password" placeholder="Password"></p>
        <p><button type="submit">Submit</button></p>
    </form>
</body>

</html>